

.app-container{
  display: flex;
  flex-wrap: wrap;
}
.game-container{
  margin: .5%;
  margin-bottom: none;
  border-radius: 5%;
  overflow: hidden;
  background-color: gray;
  max-width: min-content;
}
.game-pic{
  width:auto;
  height: 200px;
}
.descr-container{
  display: flex;
  background-color: gray;
  border-radius: 3%;
  text-align: center;
}
.gameTitle{
  margin: -1%;
  text-align: center;
}
.platform-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.game-container h3 {
  text-align: center;
}